<section class="text-white">
    <div class="row">
        <div class="container">
            <div class="col-md-12 mt-5">
                <div style="width: 100%;height: 100px;">
                    <h2 class="text-center">Order Placed Successfully</h2>
                </div>
                <a class="btn btn-success float-right" href="/orders">View Orders</a>
                
            </div>
        </div>
    </div>
</section>